html, body, * {
	font-family: 'Raleway', sans-serif;

}
#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: black;
	opacity:0.9;
}
#modal {
	display: none;
	font-size:2em;
	position: absolute;
	padding:2em;
	height:400px;
	width:700px;
	left:50%;
	margin-left:-350px;
	top:20%;
	background:#4099FF;
	z-index:30;
	overflow-y:scroll;
	text-align:center;
}

.col-md-6 {
	padding-left: 0px;
	padding-right: 0px;
}

#header {
	text-align: left;
	background:#4099FF;
	color:white;
	padding-left: 20px;
	padding-right: 20px;
	height:40px;
	font-size:30px;
	/*z-index: 100;*/
}

.vid {
	/*background: white;
	width:640px;
	height:480px;
	top:150px;
	box-shadow: 0 1px 5px #191901;*/

}

#localVid {
	font-size:2em;
	background:black;
	z-index: -1;
	/*un mirror video */
	transform: scale(-1, 1);            /*For Firefox (& IE) */
	-webkit-transform: scale(-1, 1);     /*for Chrome & Opera (& Safari) */
}
#remoteVid {
	text-align: center;
	font-size:2em;
}
.row{
	margin-bottom:0px;
	margin-left: 0px;
	margin-right: 0px;
}

#chat-output {
	margin-bottom:0px;
	margin-left:15px;
	margin-right:15px;
	background: white;
	color: black;
	overflow-y: scroll;
	word-wrap:break-word;
}
.input-group {
	margin-top:5px;
	margin-bottom:5px;
}



#start {
	display:none;
	z-index: 9999999;
	border:solid #4099FF 2px;
	line-height:1em;
	font-size:100%;
	width:150px;
	text-align: center;
	color:#4099FF;
	background:none;
}
#start:hover {
	background:#4099FF;
	color:white;
	cursor: pointer;
}
#vidOptions {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom:0;
	padding-top:1em;
	padding-bottom:1em;
	color:white;
}
#logo {
	position:absolute;
	left:10px;
}

.next {
	display:none;
	position: absolute;
	right:10px;
	cursor:pointer;
	color:white;
}


#next:hover {
	color:black;
	cursor: pointer;
}
#wait {
	font-weight: bold;
}
#childTop {
	width:100%;
	position:absolute;
	top:5%;
}
#childFoot {
	width:100%;
	position:absolute;
	bottom:0;
}
#smallShuffle {
	z-index: 100;
	color:#4099FF;
	font-size: 1em;
	line-height:40px; /*header size */
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;


}

#bigShuffle {
	display: none;
	width: 100%;
	font-size: 2em;
	color: #4099FF;
}

#disconnected {
	display:none;
	position:absolute;
	width:100%;
	text-align: center;
	bottom:0%;
}
#doggy{
	display: none;
	border-radius:100%;
	margin: 0 auto;
	vertical-align: center;
	width: 55%;
}

.fa-times {
	color:red;
}
.fa-check-circle {
	color:#3ACC4C;
}

/*css loader*/
.spinner {
	display:none;
	width: 100px;
	height: 100px;
	position: relative;
	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {

	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #4099FF;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: bounce 2.0s infinite ease-in-out;
	animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
	0%, 100% { 
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
		} 50% { 
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}


	.grayscale {
		-webkit-filter: grayscale(1);
		-moz-filter: grayscale(1);
		-ms-filter: grayscale(1);
		-o-filter: grayscale(1);
		filter: grayscale(1);
	}
	.sepia {
		-webkit-filter: sepia(1);
		-moz-filter: sepia(1);
		-ms-filter: sepia(1);
		-o-filter: sepia(1);
		filter: sepia(1);
	}
	.blur {
		-webkit-filter: blur(3px);
		-moz-filter: blur(3px);
		-ms-filter: blur(3px);
		-o-filter: blur(3px);
		filter: blur(3px);
	}
	.contrast {
		-webkit-filter: contrast(300%);
		-moz-filter: contrast(300%);
		-ms-filter: contrast(300%);
		-o-filter: contrast(300%);
		filter: contrast(300%);
	}
	.hue-rotate {
		-webkit-filter: hue-rotate(180deg);
		-moz-filter: hue-rotate(180deg);
		-ms-filter: hue-rotate(180deg);
		-o-filter: hue-rotate(180deg);
		filter: hue-rotate(180deg);
	}
	.saturate {
		-webkit-filter: saturate(330%);
		-moz-filter: saturate(330%);
		-ms-filter: saturate(330%);
		-o-filter: saturate(330%);
		filter: saturate(330%);
	}
	.invert {
		-webkit-filter: invert(100%);
		-moz-filter: invert(100%);
		-ms-filter: invert(100%);
		-o-filter: invert(100%);
		filter: invert(100%);
	}